body {
  padding: 0;
  margin: 0;
}
#chart1,
#chart2,
#urbanChart,
#chart3,
body,
html {
  height: 100%;
}

#mapid {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px; /* or as desired */
  width: 100%; /* This means "100% of the width of its container", the .col-md-8 */
}

#stateSelect,
#measureSelect {
  width: 110px;
}

.radioadjust {
  text-align: center;
  margin-left: 5px;
}

.my-legend {
  padding: 6px 8px;
  /*font: 14px Arial, Helvetica, sans-serif; */
  background: white;
  /* background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  /* line-height: 19px; */
  /* color: #555; */
}

.my-legend .legend-scale ul {
  margin: 0;
  /*   margin-bottom: 5px; */
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;

  /*margin-bottom: 2px; */
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 18px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  /*  border: 1px solid #999;*/
}

#bar2,
#bar3 {
  height: 250px;
}

#bar1 {
  height: 500px;
}

table {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
  width: 400px;
}

th,
td {
  padding: 7px 10px 10px 10px;
}
th {
  font-size: 90%;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}

td.highlight {
  background-color: rgb(243, 243, 168);
  border-radius: 2px;
  border: 5px solid white;
}

tr:hover {
  background-color: #c3e6e5;
}

td {
  font-size: 70%;
}

.jumbotron {
  background-color: salmon !important;
}