<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Healthcare Disparities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Healthcare Disparities in Mortality with Selected Demographics</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>State:</h5>
                    <select id="stateSelect">
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Demographic Info</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-10">
                <div id="chart1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>Measure:</h5>
                    <select id="measureSelect">
                    </select>
                </div>
            </div>
            <div class="col-md-10">
                <div id="chart2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart3"></div>
            </div>
        </div>
    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- `url_for()` is a flask thing to find the location of the file -->
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    
    <!--API key-->
    <!-- <script type="text/javascript" src="static/js/config.js"></script>-->
    <!-- Leaflet JS -->
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script> -->
    <!-- D3 JavaScript -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="static/js/maps.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
    integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
    crossorigin=""></script>  -->

</body>

</html>