<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Healthcare Disparities</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Are We Living the ACA Dream?</h1>
                <p>Examining health disparities between race, urban v rural, and 4 specific healthcare measures.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Health policy writers have a duty to keep all populations in mind when writing new laws.</h3><br>

                <h2>Overview</h2>
                <hr>
                <h4>The bar charts below show the average for each particular variable, either by state or national
                    level.
                    The <strong>dropdown</strong> allows for toggling to individual states or 'all' to see the average
                    nationally. <br><br>By understanding
                    <strong>1)</strong> the average mortality of these health measures, <strong>2)</strong> the
                    percentage of the population that is rural and urban,
                    <strong>3)</strong> and the percentage of the population that is white compared to
                    black/African-American, we can then begin to look at how
                    changes in these values, when cross-analyzed, might highlight concerning outcomes in these specific
                    communities.

                </h4><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>State:</h5>
                    <select id="stateSelect">
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div id="bar1"></div>
            </div>
            <div class="col-md-5">
                <div id="bar2"></div>
                <div id="bar3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>These histograms compare the frequency of county mortality rates in the U.S., for the selected
                    health measure.
                    How the groups are separated: The mean race(white and black) population of each county in the U.S.
                    was taken. Then
                    the aggregate mean of all the counties was taken. Those counties equal or above the mean of each
                    race was then
                    placed into their respective groups.
                    The groups, white and black, are compared based on taking the mean population of each race in each
                    county in the U.S of each race

                </h4>
            </div>
        </div>
        <div class="row">
            <div id="measureRadio" class="col-md-12">
                <form class="radioadjust">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="urbanChart"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>T-Tests: Black vs White</h4>
                <table>
                    <thead>

                        <tr>
                            <th>
                                Health Measure
                            </th>
                            <th>
                                Statistic
                            </th>
                            <th>
                                P-Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>COPD</td>
                            <td>0.02754110214524168</td>
                            <td>0.978033880239575</td>
                        </tr>
                        <tr>
                            <td>Heart Attack</td>
                            <td>1.7499458570056674</td>
                            <td>0.08050344559882687</td>
                        </tr>
                        <tr>
                            <td class="highlight">Heart Failure</td>
                            <td class="highlight">-8.020500438026618</td>
                            <td class="highlight">2.6328106862107735e-15</td>
                        </tr>
                        <tr>
                            <td>Pneumonia</td>
                            <td>3.0661114122213835</td>
                            <td>3.0661114122213835</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>T-Tests: Urban vs Rural</h4>

                <table>
                    <thead>
                        <tr>
                            <th>
                                Health Measure
                            </th>
                            <th>
                                Statistic
                            </th>
                            <th>
                                P-Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>COPD</td>
                            <td>-1.1290733610434243</td>
                            <td>0.259033234502412</td>
                        </tr>
                        <tr>
                            <td class="highlight">Heart Attack</td>
                            <td class="highlight">2.1995850041302556</td>
                            <td class="highlight">0.028577996648351322</td>
                        </tr>
                        <tr>
                            <td class="highlight">Heart Failure</td>
                            <td class="highlight">6.020884974265895</td>
                            <td class="highlight">2.145756436292528e-09</td>
                        </tr>
                        <tr>
                            <td>Pneumonia</td>
                            <td>1.3873500405319792</td>
                            <td>0.16551189293129867</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <p>Explain map</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="mapid"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Conclusions</p>
            </div>
        </div>
    </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- `url_for()` is a flask thing to find the location of the file -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>

    <!--API key-->
    <!-- <script type="text/javascript" src="static/js/config.js"></script>-->
    <!-- Leaflet JS -->
    <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script> -->
    <!-- D3 JavaScript -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="static/js/maps.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
    integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
    crossorigin=""></script>  -->

</body>

</html>